:root {
  --main_font: "Inter";
  --accent_font: PressStart2P;
  --bold-weight: 650;
  --normal-weight: 450;
  --main_font-size: 18px;
  --background-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --heart_contour_color: #000;
  --heart_main_color: #f00;
  --accent-color-floopy:#fff;
}
